# =========================
# POSTGRES CONFIG
# =========================
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=change_me

# =========================
# NEXTCLOUD DB CONFIG
# =========================
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=change_me
NEXTCLOUD_DB_HOST=postgres