# Elastic stack version
ELASTIC_VERSION=8.11.0

# Exposed ports
ES_PORT=9200
ES_TRANSPORT_PORT=9300
KIBANA_PORT=5601
LOGSTASH_BEATS_PORT=5044
LOGSTASH_TCP_PORT=5000
LOGSTASH_UDP_PORT=5000
LOGSTASH_API_PORT=9600

# JVM options
ES_JAVA_OPTS=-Xms512m -Xmx512m
LS_JAVA_OPTS=-Xmx256m -Xms256m

# Internal endpoints
ELASTICSEARCH_HOSTS=http://elasticsearch:9200

# Filebeat runtime
FILEBEAT_USER=root
FILEBEAT_STRICT_PERMS=false